{"swagger":"2.0","info":{"contact":{"email":"support@sellerlabs.com","url":"https://www.sellerlabs.com","name":"Seller Labs"},"version":"v1","title":"Snagshout API","description":"The Snagshout API"},"host":"snagshout.com","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/api/v1/status":{"get":{"tags":["front"],"summary":"Get system status","operationId":"getStatus","produces":["application/json"],"responses":{"200":{"schema":{"$ref":"#/definitions/V1GetStatusResponse"},"description":""}}}},"/api/v1/campaigns":{"get":{"tags":["campaign"],"summary":"Search for campaigns","operationId":"getCampaigns","produces":["application/json"],"parameters":[{"in":"query","name":"search","type":"string"},{"in":"query","name":"sort","type":"string"},{"maximum":9223372036854775807,"minimum":-9223372036854775808,"in":"query","name":"page","type":"integer"},{"maximum":9223372036854775807,"minimum":-9223372036854775808,"in":"query","name":"limit","type":"integer"},{"in":"query","name":"embeds","type":"string"},{"maximum":9223372036854775807,"minimum":-9223372036854775808,"in":"query","name":"min","type":"integer"},{"maximum":9223372036854775807,"minimum":-9223372036854775808,"in":"query","name":"max","type":"integer"},{"in":"query","name":"category","type":"string"},{"maximum":9223372036854775807,"minimum":-9223372036854775808,"in":"query","name":"min_quantity","type":"integer"},{"maximum":9223372036854775807,"minimum":-9223372036854775808,"in":"query","name":"min_percentage","type":"integer"},{"maximum":9223372036854775807,"minimum":-9223372036854775808,"in":"query","name":"max_percentage","type":"integer"},{"in":"query","name":"started_after","type":"string"},{"in":"query","name":"upcoming","type":"boolean"},{"in":"query","name":"is_fba","type":"boolean"},{"in":"query","name":"type","type":"string","enum":["standard","syndicated"]}],"responses":{"400":{"description":"Invalid `type` or `is_fba` or `upcoming` or `started_after` or `max_percentage` or `min_percentage` or `min_quantity` or `category` or `max` or `min` or `embeds` or `limit` or `page` or `sort` or `search`"},"200":{"schema":{"$ref":"#/definitions/V1GetCampaignsResponse"},"description":""}}}},"/api/v1/categories":{"get":{"tags":["category"],"summary":"Get all categories","operationId":"getCategories","produces":["application/json"],"responses":{"200":{"schema":{"$ref":"#/definitions/V1GetCategoriesResponse"},"description":""}}}}},"definitions":{"V1GetStatusResponse":{"required":["errors","error","status","success","data"],"properties":{"errors":{"items":{"type":"string"},"type":"array"},"error":{"type":"boolean"},"code":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"status":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"message":{"type":"string"},"success":{"type":"boolean"},"data":{"$ref":"#/definitions/V1GetStatus"},"links":{"$ref":"#/definitions/Links"}},"type":"object"},"V1GetStatus":{"required":["conn_time","version","status","timestamp"],"properties":{"conn_time":{"format":"double","type":"number"},"version":{"type":"string"},"status":{"type":"string"},"timestamp":{"type":"string"}},"type":"object"},"Links":{"required":["prev","next","page","last","limit","total"],"properties":{"prev":{"type":"string"},"next":{"type":"string"},"page":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"last":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"limit":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"total":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"}},"type":"object"},"V1GetCampaignsResponse":{"required":["errors","error","status","success","data"],"properties":{"errors":{"items":{"type":"string"},"type":"array"},"error":{"type":"boolean"},"code":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"status":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"message":{"type":"string"},"success":{"type":"boolean"},"data":{"$ref":"#/definitions/V1GetCampaigns"},"links":{"$ref":"#/definitions/Links"}},"type":"object"},"V1GetCampaigns":{"items":{"$ref":"#/definitions/Campaign"},"type":"array"},"Campaign":{"required":["id","name","description","note","country","shoutChannels","url","shortUrl","availability","startsAt","endsAt","type"],"properties":{"id":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"name":{"type":"string"},"description":{"type":"string"},"note":{"type":"string"},"country":{"type":"string"},"shoutChannels":{"items":{"type":"string"},"type":"array"},"url":{"type":"string"},"shortUrl":{"type":"string"},"availability":{"type":"string"},"startsAt":{"type":"string"},"endsAt":{"type":"string"},"type":{"type":"string"},"product":{"$ref":"#/definitions/Product"},"promotions":{"items":{"$ref":"#/definitions/Promotion"},"type":"array"}},"type":"object"},"Product":{"required":["externalUrl","marketplace","name","keywords","description","url","ean","currency","price","id"],"properties":{"externalUrl":{"type":"string"},"marketplace":{"type":"string"},"name":{"type":"string"},"keywords":{"type":"string"},"description":{"type":"string"},"url":{"type":"string"},"ean":{"type":"string"},"currency":{"type":"string"},"price":{"type":"string"},"id":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"amazonData":{"$ref":"#/definitions/AmazonData"},"mainCategory":{"$ref":"#/definitions/Category"},"featuredImage":{"$ref":"#/definitions/Image"},"media":{"items":{"$ref":"#/definitions/Image"},"type":"array"},"shipping":{"items":{"$ref":"#/definitions/Shipping"},"type":"array"},"attributes":{"items":{"$ref":"#/definitions/Attribute"},"type":"array"},"bookmarkedBy":{"$ref":"#/definitions/BookmarkMetadata"}},"type":"object"},"AmazonData":{"required":["asin","merchantId","fulfillment","starRating","numReviews","productId","childAsins"],"properties":{"asin":{"type":"string"},"merchantId":{"type":"string"},"fulfillment":{"type":"string"},"starRating":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"numReviews":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"productId":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"childAsins":{"items":{"type":"string"},"type":"array"}},"type":"object"},"Category":{"required":["id","name","shortName","imageUrl","totalOffers"],"properties":{"id":{"type":"string"},"name":{"type":"string"},"shortName":{"type":"string"},"imageUrl":{"type":"string"},"totalOffers":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"}},"type":"object"},"Image":{"required":["url","title","type","id","sort","featured","metadata"],"properties":{"url":{"type":"string"},"title":{"type":"string"},"type":{"type":"string"},"id":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"sort":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"featured":{"type":"boolean"},"metadata":{"$ref":"#/definitions/ImageMetadata"}},"type":"object"},"ImageMetadata":{"required":["original_src","small","medium"],"properties":{"original_src":{"type":"string"},"small":{"type":"string"},"medium":{"type":"string"}},"type":"object"},"Shipping":{"required":["note","price","id","daysMin","daysMax"],"properties":{"note":{"type":"string"},"price":{"type":"string"},"id":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"daysMin":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"daysMax":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"}},"type":"object"},"Attribute":{"required":["label","value","id","sort"],"properties":{"label":{"type":"string"},"value":{"type":"string"},"id":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"sort":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"}},"type":"object"},"BookmarkMetadata":{"required":["count"],"properties":{"count":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"}},"type":"object"},"Promotion":{"required":["price","dailyLimit","id","snaggedToday","snaggableQuantity","elegible"],"properties":{"restriction":{"type":"string"},"note":{"type":"string"},"price":{"type":"string"},"dailyLimit":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"id":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"snaggedToday":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"snaggableQuantity":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"badges":{"items":{"$ref":"#/definitions/Badge"},"type":"array"},"elegible":{"type":"boolean"},"promoCode":{"$ref":"#/definitions/PromoCode"}},"type":"object"},"Badge":{"type":"string","enum":["badge"]},"PromoCode":{"required":["promoCode","oneTime"],"properties":{"promoCode":{"type":"string"},"oneTime":{"type":"boolean"}},"type":"object"},"V1GetCategoriesResponse":{"required":["errors","error","status","success","data"],"properties":{"errors":{"items":{"type":"string"},"type":"array"},"error":{"type":"boolean"},"code":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"status":{"maximum":9223372036854775807,"minimum":-9223372036854775808,"type":"integer"},"message":{"type":"string"},"success":{"type":"boolean"},"data":{"$ref":"#/definitions/V1GetCategories"},"links":{"$ref":"#/definitions/Links"}},"type":"object"},"V1GetCategories":{"items":{"$ref":"#/definitions/Category"},"type":"array"}},"securityDefinitions":{"basic":{"type":"basic"}},"security":[{"root":["basic"]}],"tags":[{"name":"campaign","description":"Campaign operations"},{"name":"category","description":"Category operations"},{"name":"front","description":"Other operations"}]}